
header {
    position: relative;
	display: block;
	width:100%;
	height: 150px;
	margin: 0;
	padding: 0;
}

.logo {
	position: relative;
	top: 10px;
	left: 10px;
	top: -10px;
	height: 170px;
	width: 200px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-container{
	position: absolute;
	right: 30px;
	top: 20px;
	width: 60%;
	float:right;
	padding-top: 20px;

}

.search-container form input{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.search-container form button{
	position: absolute;
	right:0px;
	top:0px;
	padding: 12px 20px;
    display: inline-block;
}

.navigation {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 110px;
}

.navigation ul li {
	float: left;
	width: 20%;
}

.navigation ul li a {
	display: block;
	height: 40px;
}


#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#description {
	position: relative;
	width: 88.5%;
	padding: 10px;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 0;
	line-height: 40px;
	height: auto;
}

#description h1 {
	font-size:40px;
}

#main {
	width: 69%;
	margin-top: 15px;
	margin-left: 5%;
	display: inline-block;
	height: 700px;
	margin-bottom: 15px;
	float: left;
}

.main-full
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 15px;
	height: auto;
}

aside {
	position: relative;
	left: 1%;
	top: 15px;
	width: 20%;
	margin-top: 15px;
	margin-left: 10px;
	display: inline-block;
	height: 700px;
	margin-bottom: 15px;
	float: left;
}

#wrapper aside h2 {
	font-size: 25px;
}

#wrapper aside p {
	font-size: 20px;
}

body section form div {
	position: relative;
	top: 20px;
	left: 30%;
	display: inline-block;
	width: inherit;
	text-align: center;
}

body section form p{
	font-size: 30px;
}

.left-article {
	width:45%;
	margin-left:3%;
	float:left;
	margin-top:10%;
	margin-bottom: 10px;
	font-size: auto;
}

.right-article {
	width:45%;
	float:right;
	margin-right: 3%;
	margin-bottom: 10px;
	margin-top:10%;
}

/* APP LIST CSS */

.app-list{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    }

.app-section{
	margin-top: 25px;
	width:100%;
	height: 300px;
}

.app-section h1{
	padding-left: 20px;
}
/* END APP LIST CSS */

/* PROFILE PAGE CSS */

#basic-info-container {
	width:50%;
	height: 300px;
	background-color: rgba(255,255,255,0.4);
  	border-radius: 10% 25%;
	float:left;
	top:65px;
	position: relative;
	margin-left: 7%;
}

#pic {
	position:relative;
	float:left;
	margin-left: 10%;
	margin-top: 5%;
	width:40%;
	outline: thin double #32a1ce;
}

#info {
	float:right;
	position: relative;
	width:50%;
	margin-top:12%;
	left:10px;
	text-align: left;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.small-icon {
	width: 20px;
	height: 20px;
	position: relative;
}

#options-container {
	position: absolute;
	
	right:0px;
	top:0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	list-style:none;
	text-align: center;
}

.option {
	background-color: rgba(75,37,232,0.5);
	padding:10px 40px;
	margin-bottom:10px;
	border-radius: 5px 15px;
		
}
.option a{
	text-decoration: none;
	color: #FFF;
}

.option a:hover {
	color: darkred;
	font-size: 20px;
}


/* START LOGIN/REGISTER CSS */

#login-window {
	position: relative;
	display:block;
	margin: 3% 10%;
	width: 50%;
	height: 500px;
	border-radius: 12px;
	background-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	/*background-color:#2c3e50;*/
	margin-left: 25%;
}

.connection-container{
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top:50px;
    width:100%;
	height:100%;

    color: white;
}

.login-container {
	text-shadow: #000 0px 0px 6px;
	position: absolute;
    
    width: 200px;
    height: 240px;
    right:53%;
    top: 66px;
}
 
h1{
	font-size: 28px;
	margin-bottom: 10px;
}
br{
	margin-bottom: 5px;
}

.login-container p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.register-container p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.separator {
	position: absolute;
    top:0px;
    left:50%;
    border-left: 3px solid white;
    border-radius: 100px;
    height: 370px;
}

.register-container {
	position: absolute;
    left:53%;
    width: 200px;
    height: 330px;
}



/* STOP LOGIN/REGISTER CSS */


/* START FOOTER CSS */

footer {
	display: block;
	width: 100%;
	margin-bottom: 0px;
	clear:both;
	height: auto;
}

.useful-links{
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
}
.footer-column{
	display: inline-block;
	width: 20%;
}

.footer-column li{
	padding-bottom:5px;
}

.bottom-footer{
	padding-top: 10px;
	font-size: 1.5em;
	padding-bottom: 10px;
}