/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
The real css
*/


header {
	display: block;
	width:100%;
	height: 150px;
	margin: 0;
	padding: 0;
	position: relative;
}

.logo {
	position: relative;
	top: 10px;
	left: 10px;
	top: -10px;
	height: 170px;
	width: 200px;
	
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-container{
	position: absolute;
	right: 30px;
	top: 20px;
	width: 60%;
	float:right;
	padding-top: 20px;

}

.navigation {
	position: absolute;
	list-style:none;
	text-align: center;
	width: 100%;
	height: 40px;
	top: 110px;
}

.navigation ul li {
	float: left;
	width: 20%;
}

.navigation ul li a {
	display: block;
	height: 40px;
}

.navigation ul li a:hover {
	/*background-color: #092856; */
	background-color: #2c3e50;
	color: #FFF;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
#description {
	position:relative;
	width:88%;
	height: 150px;
	padding: 10px;
	margin-top:3%;
	margin-left:5%;
	margin-bottom:0;
	line-height: 40px;
}
#description h1 {
	font-size:40px;
}

#main {
	width: 65%;
	margin-top: 3%;
	margin-left: 5%;
	float:left;
}

#main, aside {
	position: relative;
	display: block;
	height: 700px;
	margin-bottom: 5%;
}
aside {
	width: 20%;
	float: right;
	margin-right: 5%;
	margin-top: 3%;
}

#wrapper aside h2 {
	font-size: 25px;
}

#wrapper aside p {
	font-size: 20px;
}

footer {
	display: block;
	width: 100%;
	height: 70px;
	margin-bottom: 0px;
	font-size-adjust: auto;
	font-size: 20px;
	vertical-align: middle;
	clear:both;
}

body section form div {
	position: relative;
	top: 20px;
	left: 30%;
	display: inline-block;
	width: inherit;
	text-align: center;
}

body section form p{
	font-size: 30px;
}

.left-article {
	width:45%;
	margin-left:3%;
	float:left;
	margin-top:10%;
	margin-bottom: 10px;
	font-size: auto;
}

.right-article {
	width:45%;
	float:right;
	margin-right: 3%;
	margin-bottom: 10px;
	margin-top:10%;
}

/* APP LIST CSS */

.app-list{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    }

/* END APP LIST CSS */

/* PROFILE PAGE CSS */

#basic-info-container {
	width:50%;
	height: 300px;
	background-color: rgba(255,255,255,0.4);
  	border-radius: 10% 25%;
	float:left;
	top:65px;
	position: relative;
	margin-left: 7%;
}

#pic {
	position:relative;
	float:left;
	margin-left: 10%;
	margin-top: 5%;
	width:40%;
	outline: thin double #32a1ce;
}

#info {
	float:right;
	position: relative;
	width:50%;
	margin-top:12%;
	left:10px;
	text-align: left;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.small-icon {
	width: 20px;
	height: 20px;
	position: relative;
}

#options-container {
	position: absolute;
	
	right:0px;
	top:0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	list-style:none;
	text-align: center;
}

.option {
	background-color: rgba(75,37,232,0.5);
	padding:10px 40px;
	margin-bottom:10px;
	border-radius: 5px 15px;
		
}
.option a{
	text-decoration: none;
	color: #FFF;
}

.option a:hover {
	color: darkred;
	font-size: 20px;
}


/* START LOGIN/REGISTER CSS */

#login-window {
	position: relative;
	display:block;
	margin: 3% 10%;
	width: 50%;
	height: 500px;
	border-radius: 12px;
	background-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	/*background-color:#2c3e50;*/
	margin-left: 25%;
}

.connection-container{
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top:50px;
    width:100%;
	height:100%;

    color: white;
}

.login-container {
	text-shadow: #000 0px 0px 6px;
	position: absolute;
    
    width: 200px;
    height: 240px;
    right:53%;
    top: 66px;
}
 
h1{
	font-size: 28px;
	margin-bottom: 10px;
}
br{
	margin-bottom: 5px;
}

.login-container p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.register-container p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.separator {
	position: absolute;
    top:0px;
    left:50%;
    border-left: 3px solid white;
    border-radius: 100px;
    height: 370px;
}

.register-container {
	position: absolute;
    left:53%;
    width: 200px;
    height: 330px;
}



/* STOP LOGIN/REGISTER CSS */
