
header {
    position: relative;
	display: block;
	width:100%;
	height: 150px;
	margin: 0;
	padding: 0;
}

.logo {
	position: relative;
	left: 10px;
	height: 170px;
	width: 200px;
	top: -10px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-container{
	position: absolute;
	right: 30px;
	top: 20px;
	width: 60%;
	float:right;
	padding-top: 20px;

}

.search-container form input{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.search-container form button{
	position: absolute;
	right:0px;
	top:0px;
	padding: 12px 20px;
    display: inline-block;
}

.navigation {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 110px;
}

.navigation ul li {
	float: left;
	width: 20%;
}

.navigation ul li a {
	display: block;
	height: 40px;
}


#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#description {
	position: relative;
	width: 88.5%;
	padding: 10px;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 0;
	line-height: 40px;
	height: auto;
}

#description h1 {
	font-size:40px;
}

.main {
	width: 69%;
	margin-top: 15px;
	margin-left: 5%;
	display: inline-block;
	height: 700px;
	margin-bottom: 15px;
	float: left;
}

.main-full
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 15px;
	height: auto;
    padding: 0;
}

aside {
	position: relative;
	left: 1%;
	width: 20%;
	margin-top: 15px;
	margin-left: 10px;
	display: inline-block;
	height: 700px;
	margin-bottom: 15px;
	float: left;
}

#wrapper aside h2 {
	font-size: 25px;
}

#wrapper aside p {
	font-size: 20px;
}

body section form div {
	position: relative;
	top: 20px;
	left: 30%;
	display: inline-block;
	width: inherit;
	text-align: center;
}

body section form p{
	font-size: 30px;
}

.left-article {
	width:45%;
	margin-left:3%;
	float:left;
	margin-top:10%;
	margin-bottom: 10px;
	font-size: auto;
}

.right-article {
	width:45%;
	float:right;
	margin-right: 3%;
	margin-bottom: 10px;
	margin-top:10%;
}

/* APP LIST CSS */

.app-list{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    width:100%;
    
    -webkit-column-gap: 5px;
	column-gap: 5px;
	-moz-column-gap: 5px;
    }

.app-section{
	position: relative;
	margin-top: 25px;
	width:100%;
	height: 300px;
}

.app-section h1{
	padding-left: 20px;
	display: inline-block;
    font-size: 30px;
}

.see-more-button {
	position: absolute;
	right: 15px;
	top: -10px;
	display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

.app-list-child {
    position:relative;
    width: 94%;
    height: 100px;
    overflow:hidden;
    margin-bottom:5px;
}

.app-list-child-img-container{
    position:absolute;
    width: 80px;
    height:80px;
    top:10px;
    left:10px;
}

.app-list-child-img-container img{
    width:100%;
    height:100%;
}

.app-list-child-title {
    font-size: 23px;   
    margin:0;
    width:60%;
    height:30px;
    position:absolute;
    top:10px;
    left:100px;
}

.bigger-title {
    font-size: 40px !important;
    margin-top: 20px !important;
}

.app-list-child-rating {
    top:38px;
}

.app-list-child-rating, .app-list-child-downloads{
    margin:0;
    width:60%;
    height:20px;
    position:absolute;
    left:100px;
    right:10px;
}

.app-list-child-downloads{
  top:65px; 
}
/* END APP LIST CSS */

/* PROFILE PAGE CSS */

#basic-info-container {
	width: 60%;
	height: 310px;
	position: relative;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
}

#pic {
	position: relative;
	float: left;
	margin-left: 10%;
    margin-top: 25px;
	width: 35%;
    height: auto;
    display: inline-block;
}

#info {
	float: right;
	position: relative;
	width: 50%;
    top: 20px;
	left: 10px;
	text-align: left;
	line-height: 30px;
    display: inline-block;
}


#options-container {
	position: relative;
    float: right;
	line-height: 30px;
    width: 150px;
    display: inline-block;
    margin-right: 10%;
    margin-top: 8%;
    margin-left: 0%;
    margin-bottom: 3%;
}

.option {
	padding:10px 20px;
    margin-bottom:10px;
}

.option a:hover {
	font-size: 20px;
}

.profile-rating-container {
    position: relative;
}

.profile-rating-text {
    display: inline-block;
}

.profile-rating-stars {
    width: 100px !important;
	top: 0px !important;
	left: 0px !important;
    position: relative !important;
    display: inline-block !important;
}

.delete-button {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}
/* START LOGIN/REGISTER CSS */

#login-window {
	position: relative;
	display:block;
	margin: 3% 10%;
	width: 50%;
	height: 500px;
	border-radius: 12px;
	background-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	margin-left: 25%;
}

.connection-container{
	position: absolute;
	top:50px;
    width:100%;
	height:100%;
}

.login-container {
	position: absolute;
    width: 200px;
    height: 240px;
    right:53%;
    top: 66px;
}
 
h1{
	font-size: 28px;
	margin-bottom: 10px;
}
br{
	margin-bottom: 5px;
}

.login-container p{
	margin-top: 10px;
	margin-bottom: 10px;
    font-size: 18px;
}

.register-container p{
	margin-top: 10px;
	margin-bottom: 10px;
    font-size: 18px;
}

.login-container button{
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute;
    left: 20%;
}

.login-container input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.register-container {
	position: absolute;
    left:53%;
    width: 200px;
    height: 330px;
}

.register-container input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
}


.register-container button{
    position:absolute;
    padding: 15px 32px;
    display: inline-block;
}

.separator {
	position: absolute;
    top:0px;
    left:50%;
    height: 370px;
}



/* STOP LOGIN/REGISTER CSS */


/* START FOOTER CSS */

footer {
	display: block;
	width: 100%;
    height: 150px;
	margin-bottom: 0px;
	clear:both;
    line-height: 40px;
    font-size: 20px; 
}

footer ul {
    position: relative;
    top: 30px;
}

footer ul li {
    display: inline;
    padding: 40px 40px;
}

footer p {
    position: relative;
    display: block;
    top:40px;
}

#goUp {
    position: relative;
    float: right;
    margin-right: 10%;
    width: 50px;
    height: 50px;
}

/* CONTACT CSS */

.contact-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.map-container{
    width: 430px;
    height: 650px;
}

.map-container img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.contact-information-container{
    width:  40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.diana-container, .mihai-container p{
    
}


/* START ALL-APPS CSS */

.all-app-section{
    height: auto;
}

.all-app-aside{
    margin-left: 4%;
    margin-right: 15px;
    height: auto;
}

.app-main{
    margin-left: 15px;
    width: 70%;
    height: auto;
}

.all-app-list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.all-app-child{
    width: 180px;
    height: 300px;
    border-radius: 12px;
}

.all-app-icon{
    display: inline-block;
    width: 165px;
    height: 165px;
}

.all-app-icon img{
    width: 165px;
    height: 165px;
    border-radius: 12px;
}

.all-app-title{
    display: inline-block;
    font-size: 1.4m;
    margin-bottom: 10px;
}

.all-app-rating{
    display: inline-block;
    height: 50px;
    width: 100%;
}

.all-app-downloads{
    display: inline-block;
    margin-top: 10px;
    height: 50px;
    width: 100%;
}
/* END ALL-APPS CSS */





















