/* START HEADER + INDEX CSS */
header {
	display: block;
	width:100%;
	height: 150px;
	margin: 0;
	padding: 0;
	position: relative;
	margin:0 auto;
}

.logo {
	position: relative;
	top: -10px;
	left: 10px;
	height: 170px;
	width: 200px;
	
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-container{
	position: absolute;
	right: 30px;
	top: 20px;
	width: 60%;
	float:right;
	padding-top: 20px;

}
.search-container form input{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.search-container form button{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 12px 20px;
    display: inline-block;
	}

.navigation {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 110px;
}

.navigation ul li {
	float: left;
	width: 20%;	
}

.navigation ul li a {
	display: block;
	height: 40px;
}

.categories-father{
    overflow: hidden;
    height: 40px;
}

.categories-father #drop-down a {
    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
}
.wrapper {
	width: 100%;
    margin: 0 auto;
    padding: 0;
}

.description {
	position:relative;
	width:88%;
	height: auto;
	padding: 10px;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 0;
	line-height: 30px;
	text-align: center;
}

#description h1 {
	font-size:30px;
	
}

.main {
	width: 65%;
	margin-top: 3%;
	margin-left: 5%;
	float: left;
    display: inline-block;
}

.main-full {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 15px;
    height: auto;
    padding: 0;
}

.main, aside {
	position: relative;
	display: inline-block;
	height: auto;
	margin-bottom: 5%;
}


.app-list {
    -webkit-columns: 1 !important;
    -moz-columns: 1 !important;
    columns: 1 !important;
    width: 100%;
    padding-bottom: 30px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
    -moz-column-gap: 5px;
}

aside {
	position: relative;
    width: 21%;
    margin-top: 3%;
    margin-left: 30px;
    display: inline-block;
    margin-bottom: 15px;
    float: left;
    line-height: 20px;
}

#wrapper aside h2 {
	font-size: 25px;
}

#wrapper aside p {
	font-size: 20px;
}

/* END HEADER + INDEX CSS 
START FOOTER CSS */

footer {
	display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    clear: both;
    line-height: 30px;
    font-size: 20px;
}

footer ul {
    position: relative;
    top: 30px;
}

footer ul li {
    display: inline;
    padding: 0 15px;
}

footer p {
    position: relative;
    display: block;
    top: 40px;
}

#goUp {
    position: relative;
    float: right;
    margin-right: 10%;
    width: 40px;
    height: 40px;
}


/*  END FOOTER CSS 
    APP LIST CSS */

#app-list-container {
	position:relative;
	top:20px;
	right:10px;
	left:10px;
	bottom:20px;
}

.app-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    width: 100%;
    padding-bottom: 30px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
    -moz-column-gap: 5px;
}

.app-section {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: auto;
}

.app-section h1 {
    padding-left: 20px;
    display: inline-block;
    font-size: 30px;
}

.see-more-button {
    position: absolute;
    right: 30px;
    top: -10px;
    display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}


.app-list-child {
    position: relative;
    width: 94%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 5px;
}

.app-list-child-img-container {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
}

.app-list-child-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.app-list-child-title {
    font-size: 23px;
    margin: 0;
    white-space: nowrap;
    width: 60%;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 100px;
}

.bigger-title {
    font-size: 40px !important;
    margin-top: 20px !important;
}

.app-list-child-rating {
    top: 38px;
}

.app-list-child-rating,
.app-list-child-downloads {
    margin: 0;
    width: 60%;
    height: 20px;
    position: absolute;
    left: 100px;
    right: 10px;
}

.app-list-child-downloads {
    top: 65px;
}


/* END APP LIST CSS */

/* PROFILE PAGE CSS */

#basic-info-container {
    width: 50%;
    height: auto;
    position: relative;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2% 0;
}

#pic {
    position: relative;
    width: 50%;
    left: 25%;
    display: block;
}

#info {
    position: relative;
    width: 70%;
    text-align: left;
    line-height: 20px;
    display: block;
    left: 17%;
    top: 10px;
}


#options-container {
    position: relative;
    float: right;
    line-height: 40px;
    font-size: 20px;
    width: 30%;
    display: inline-block;
    margin-right: 10%;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 3%;
}

.option {
    padding: 10px 10px;
    margin-bottom: 10px;
}

.profile-rating-container {
    position: relative;
}

.profile-rating-text {
    display: inline-block;
}

.profile-rating-stars {
    width: 100px !important;
    top: 0px !important;
    left: 0px !important;
    position: relative !important;
    display: inline-block !important;
}

.app-list {
    -webkit-columns: 2 !important;
    -moz-columns: 2 !important;
    columns: 2 !important;
    width: 100%;
    padding-bottom: 30px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
    -moz-column-gap: 5px;
}

.delete-button {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}

/* END PROFILE CSS 
   START LOGIN/REGISTER CSS */

#login-window {
    position: relative;
    display: block;
    margin: 3% 12%;
    width: 75%;
    height: 400px;
}

.connection-container {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 100%;
}

.login-container {
    position: absolute;
    width: 200px;
    height: 240px;
    right: 53%;
    top: 66px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

br {
    margin-bottom: 5px;
}

.login-container p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.register-container p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.login-container button {
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute;
    left: 20%;
}

.login-container input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.register-container {
    position: absolute;
    left: 53%;
    width: 200px;
    height: 330px;
}

.register-container input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.register-container button, #upload-form button, #settings-container .settings button {
    position: absolute;
    padding: 15px 32px;
    display: inline-block;
}

.separator {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 350px;
    width: 3px;
    background-color: white;
}

/* END LOGIN/REGISTER CSS
   START ALL-APPS CSS */

.all-app-section {
    height: auto;
}

.all-app-aside {
    height: auto;
    margin-left: 4%;
    margin-right: 15px;
    margin-top: 20px;
}

.app-main {
    margin-top: 20px;
    width: 60%;
    height: auto;
}

.all-app-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: space-between;
}

.all-app-child {
    width: 180px;
    height: 300px;
    border-radius: 12px;
    margin-right: 10px;
    margin-top: 10px;
    
}

.all-app-child a{
    width: 180px;
    height: 300px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.all-app-icon {
    width: 165px;
    height: 165px;
    margin-top: 7px;
    overflow: hidden;
}

.all-app-icon img{
    display: block;
    object-fit: cover;
    width: 165px;
    height: 165px;
    border-radius: 12px;
}

.all-app-title {
    margin-top: 10px;
    font-size: 1.4em;
    height: auto;
    width: 90%;
    margin-bottom: 10px;
}

.all-app-rating {
    height: 50px;
    width: 100%;
}

.all-app-downloads {
    margin-top: 10px;
    height: 50px;
    width: 100%;
}

.all-app-pages{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.all-app-button{
    width: 40px;
    height: 20px;
    padding-top: 10px;
    margin-left: 5px;
    padding-bottom: 10px;
}
/* END ALL-APPS CSS 
   START UPLOAD CSS */

#upload-form-container {
    position: relative;
    display: block;
    margin: 3% 15%;
    width: 70%;
    height: auto;
}

#upload-form {
    position: relative;
    display: block;
    width: 70%;
    margin: 5% 15%;
}

.input-box {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
}

#upload-form button {
    position: relative;
    margin-left: 25%;
}

/* END UPLOAD CSS 

   START SETTINGS CSS */

#settings-container {
    position: relative;
    display: block;
    margin: 3% 15%;
    width: 70%;
    height: auto;
}

.settings {
    position: relative;
    display: block;
    width: 100%;
}

.set-form {
    position: relative;
    display: block;
    width: 90%;
    margin: 5%;
}
#settings-container .settings button {
    position: relative;
    left: 5%;
}

.input-box {
    width: 100%;
}
/* END SETTINGS CSS */

/* START APP PAGE CSS */

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

#app-logo {
    margin-top: 15px;
    margin-left: 25%;
    height: 50%;
    width: 50%;
    box-sizing:border-box;
    object-fit: contain;
    border-radius: 12px;
}

#app-logo img{
    object-fit: cover;
    border-radius: 12px;
}

#app-name {
    width: auto;
    margin-top: 2%;
    line-height: 1.2;
}

#app-name h1 {
    font-size: 60px;
}

#app-rating-stars {
    width: 250px !important;
    height: auto;
    top: 20px !important;
    left: 0px !important;
    position: relative !important;
    display: inline-block !important;
}

#download-button {
    margin-top: 50px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
}

#app-statistics {
    display: flex;
    flex-direction: column;
    width: 87%;
    justify-content: space-between;
    padding: 20px 20px;
    font-size: 20px;
    line-height: 40px;
}

.tag {
    padding: 2px;
    margin: 5px;
}

.app-description-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.app-info-container {
    width: 70%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    line-height: 20px;
    margin-left: 10%;
    padding: 30px;
}

.app-info-container h1 {
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.app-info-container p {
    font-size: 15px;
    margin-bottom: 10px;
}

#related-apps-container {
    margin-top: 10px;
    margin-left: 80px;
    width: 70%;
    height: auto;
    padding-bottom: 30px;
    margin-right: 40px;
    margin-bottom: 3%;
}

#columns {
    display: flex;
    flex-direction: column;
}

/* END APP PAGE CSS */


/* CONTACT CSS */

.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.map-container {
    width: 300px;
    height: 400px;
}

.map-container img {
    height: 100%;
    width: 100%;
}

.contact-information-container {
    width: 40%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 30px;
    padding: 0px 10px;
}

