
body{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}

header {
    position: relative;
	display: block;
	width:100%;
	height: 320px;
	margin: 0;
	padding: 0;
}

.logo {
	position: relative;
	top: 10px;
	left: 10px;
	top: -10px;
	height: 170px;
	width: 200px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-container{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 50%;
	float:right;
	padding-top: 20px;

}

.search-container form input{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.search-container form button{
	position: absolute;
	right:0px;
	top:0px;
	padding: 12px 20px;
    display: inline-block;
}

.navigation {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 110px;
}

.navigation ul li {
	width: 100%;
}

.navigation ul li a {
	display: block;
	height: 40px;
}


#wrapper {
	width: 100%;
}

#description {
	position: relative;
	width: 88.5%;
	padding: 10px;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 0;
	line-height: 40px;
	height: auto;
}

#description h1 {
	font-size:40px;
}


.main-full, #main, aside
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 15px;
	margin-bottom: 15px;
	height: auto;
    padding: 0;
}

#wrapper aside h2 {
	font-size: 25px;
}

#wrapper aside p {
	font-size: 20px;
}

body section form div {
	position: relative;
	top: 20px;
	left: 30%;
	display: inline-block;
	width: inherit;
	text-align: center;
}

body section form p{
	font-size: 30px;
}

.left-article {
	width:45%;
	margin-left:3%;
	float:left;
	margin-top:10%;
	margin-bottom: 10px;
	font-size: auto;
}

.right-article {
	width:45%;
	float:right;
	margin-right: 3%;
	margin-bottom: 10px;
	margin-top:10%;
}

/* APP LIST CSS */

.app-list{
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    width:100%;
    
    -webkit-column-gap: 5px;
	column-gap: 5px;
	-moz-column-gap: 5px;
    height: auto;
    padding-bottom: 30px;
    
    }

.app-section{
	position: relative;
	margin-top: 25px;
	width:100%;
	height: auto;
}

.app-section h1{
	padding-left: 20px;
	display: inline-block;
    margin-bottom: 40px;
    font-size: 30px;
}

.see-more-button {
	position: absolute;
	right: 15px;
	top: 30px;
	display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

.app-list-child {
    position:relative;
    width: 94%;
    height: 100px;
    overflow:hidden;
    margin-bottom:5px;
}

.app-list-child-img-container{
    position:absolute;
    width: 80px;
    height:80px;
    top:10px;
    left:10px;
}

.app-list-child-img-container img{
    width:100%;
    height:100%;
}

.app-list-child-title {
    font-size: 1.4em;   
    margin:0;
    width:60%;
    height:30px;
    position:absolute;
    top:10px;
    left:100px;
}

.bigger-title {
    font-size: 40px !important;
    margin-top: 20px !important;
}

.app-list-child-rating {
    top:38px;
}

.app-list-child-rating, .app-list-child-downloads{
    margin:0;
    width:60%;
    height:20px;
    position:absolute;
    left:100px;
    right:10px;
}

.app-list-child-downloads{
  top:65px; 
}
/* END APP LIST CSS */

/* PROFILE PAGE CSS */

#basic-info-container {
	width:60%;
	height: 300px;
	position: relative;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
}

#pic {
	position:relative;
	float:left;
	margin-left: 10%;
    margin-top: 20px;
	width:35%;
    height: auto;
    display: inline-block;
}

#info {
	float:right;
	position: relative;
	width:50%;
    top: 20px;
	left:10px;
	text-align: left;
	line-height: 30px;
    display: inline-block;
}

.small-icon {
	width: 20px;
	height: 20px;
	position: relative;
    display: inline-block;
}

#options-container {
	position: relative;
    float: right;
	line-height: 30px;
    width: 150px;
    display: inline-block;
    margin-right: 10%;
    margin-top: 7%;
    margin-left: 0%;
    margin-bottom: 3%;
}

.option {
	padding:10px 20px;
    margin-bottom:10px;
}

.option a:hover {
	font-size: 20px;
}

.delete-button {
    position: relative;
    float: right;
    width: 10%;
}

.profile-rating-container {
    position: relative;
}

.profile-rating-text {
    display: inline;
}
.profile-rating-stars {
    position: absolute !important;
    display: inline-block !important;
    
}
/* START LOGIN/REGISTER CSS */

#login-window {
	position: relative;
	display:block;
	margin: 3% 10%;
    margin-top: 15px;
    margin-bottom: 15px;
	width: 90%;
	height: 700px;
	border-radius: 12px;
	background-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	margin-left: 5%;
}

.connection-container{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width:100%;
	height:100%;
}

.login-container {
    width: 200px;
    height: 240px;
}
 
h1{
	font-size: 28px;
	margin-bottom: 10px;
}

br{
	margin-bottom: 5px;
}

.login-container p{
	margin-top: 10px;
	margin-bottom: 10px;
    font-size: 18px;
}

.register-container p{
	margin-top: 10px;
	margin-bottom: 10px;
    font-size: 18px;
}

.login-container button{
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute;
}

.login-container input{
    width: 100%;
    padding: 12px 20px;
}

.separator {
    width: 70%;
    height: 0px;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.register-container {
    width: 200px;
    height: 330px;
}

.register-container input{
    width: 100%;
    padding: 12px 20px;
}


.register-container button{
    position:absolute;
    padding: 15px 32px;
}


/* STOP LOGIN/REGISTER CSS */


/* START FOOTER CSS */

footer {
	display: block;
	width: 100%;
    height: auto;
	margin-bottom: 0px;
	clear:both;
    line-height: 40px;
    font-size: 20px; 
}

footer ul {
    position: relative;
    top: 30px;
}

footer ul li {
    display: inline;
    padding: 40px 40px;
}

footer p {
    position: relative;
    display: block;
    top:40px;
}

#goUp {
    
    float: right;
    width: 50px;
    height: 50px;
}
