body {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

header {
    position: relative;
    display: block;
    width: 100%;
    height: 320px;
    margin: 0;
    padding: 0;
}

.logo {
    position: relative;
    top: 10px;
    left: 10px;
    top: -10px;
    height: 170px;
    width: 200px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.search-container {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50%;
    float: right;
    padding-top: 20px;

}

.search-container form input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.search-container form button {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 12px 20px;
    display: inline-block;
}

.navigation {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 110px;
}

.navigation ul li {
    width: 100%;
}

.navigation ul li a {
    display: block;
    height: 40px;
}

.categories-father {
    overflow: hidden;
    height: 40px;
}

.wrapper {
    width: 100%;
}

.description {
    position: relative;
    padding: 10px;
    margin-top: 3%;
    width: 90%-20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    line-height: 35px;
    height: auto;
}

#description h1 {
    font-size: 40px;
}


.main-full,
.main,
aside {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
    padding: 0;
}

#wrapper aside h2 {
    font-size: 25px;
}

#wrapper aside p {
    font-size: 20px;
}

/* APP LIST CSS */

#app-list-container {
    position: relative;
    top: 20px;
    right: 10px;
    left: 10px;
    bottom: 20px;
}

.app-list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    width: 100%;

    -webkit-column-gap: 5px;
    column-gap: 5px;
    -moz-column-gap: 5px;
    height: auto;
    padding-bottom: 30px;

}

.app-section {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: auto;
}

.app-section h1 {
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 30px;
}

.see-more-button {
    position: absolute;
    right: 15px;
    top: 30px;
    display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

.app-list-child {
    position: relative;
    width: 94%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 5px;
}

.app-list-child-img-container {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
}

.app-list-child-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.app-list-child-title {
    font-size: 1.4em;
    margin: 0;
    white-space: nowrap;
    width: 60%;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 100px;
}

.bigger-title {
    font-size: 40px !important;
    margin-top: 20px !important;
}

.app-list-child-rating {
    top: 38px;
}

.app-list-child-rating,
.app-list-child-downloads {
    margin: 0;
    width: 60%;
    height: 20px;
    position: absolute;
    left: 100px;
    right: 10px;
}

.app-list-child-downloads {
    top: 65px;
}

/* END APP LIST CSS */

/* PROFILE PAGE CSS */

#basic-info-container {
    width: 60%;
    height: 300px;
    position: relative;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
}

.profile-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline;
}

.profile-pic img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

#info {
    float: right;
    position: relative;
    width: 50%;
    top: 20px;
    left: 10px;
    text-align: left;
    line-height: 30px;
    display: inline-block;
}

.small-icon {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
}

#options-container {
    position: relative;
    float: right;
    line-height: 30px;
    width: 150px;
    display: inline-block;
    margin-right: 10%;
    margin-top: 7%;
    margin-left: 0%;
    margin-bottom: 3%;
}

.option {
    padding: 10px 20px;
    margin-bottom: 10px;
}

.option a:hover {
    font-size: 20px;
}

.delete-button {
    position: relative;
    float: right;
    width: 30px;
}

.profile-rating-container {
    position: relative;
}

.profile-rating-text {
    display: inline;
}

.profile-rating-stars {
    position: absolute !important;
    display: inline-block !important;

}

/* START LOGIN/REGISTER CSS */

#login-window {
    position: relative;
    display: block;
    margin: 3% 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
    height: 700px;
    border-radius: 12px;
    background-color: #2c3e50;
    border-color: #4d515e;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    margin-left: 5%;
}

.connection-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-container {
    width: 200px;
    height: 240px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

br {
    margin-bottom: 5px;
}

.login-container p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.register-container p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.login-container button {
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute;
}

.login-container input {
    width: 100%;
    padding: 12px 20px;
}

.separator {
    width: 70%;
    height: 0px;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.register-container {
    width: 200px;
    height: 330px;
}

.register-container input {
    width: 100%;
    padding: 12px 20px;
}


.register-container button {
    position: absolute;
    padding: 15px 32px;
}


/* STOP LOGIN/REGISTER CSS */

/* START FOOTER CSS */

footer {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    clear: both;
    line-height: 40px;
    font-size: 20px;
}

footer ul {
    position: relative;
    top: 30px;
}

footer ul li {
    display: inline;
    padding: 40px 40px;
}

footer p {
    position: relative;
    display: block;
    top: 40px;
    z-index: 0;
}

#goUp {
    float: right;
    width: 50px;
    height: 50px;
    z-index: 12;
}


/* CONTACT CSS */

.contact-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.map-container {
    width: 90%;
    height: auto;
    box-sizing: border-box;
    object-fit: contain;
}

.map-container img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
    border-radius: 12px;
}

.contact-information-container {
    width: 90%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.diana-container,
.mihai-container p {}

/* END CONTACT CSS */

/* START ALL-APPS CSS */

.all-app-section {
    height: auto;

}

.all-app-aside {
    width: 90%;
    height: auto;
}

.app-main {
    width: 90%;
    height: auto;
}

.all-app-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-between;
}

.all-app-child {
    width: 180px;
    height: 300px;
    border-radius: 12px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.all-app-child a {
    width: 180px;
    height: 300px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.all-app-icon {
    width: 165px;
    height: 165px;
    margin-top: 7px;
    overflow: hidden;
}

.all-app-icon img {
    display: block;
    object-fit: cover;
    width: 165px;
    height: 165px;
    border-radius: 12px;
}

.all-app-title {
    margin-top: 10px;
    font-size: 1.4em;

    height: 48px;
    overflow: hidden;
    width: 90%;
    margin-bottom: 10px;
}

.all-app-rating {
    height: 15px;
    width: 100%;
}

.all-app-downloads {
    margin-top: 10px;
    height: 30px;
    width: 100%;
}


.all-app-pages {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.all-app-button {
    width: 40px;
    height: 20px;
    padding-top: 10px;
    margin-left: 5px;
    padding-bottom: 10px;
}

/* END ALL-APPS CSS */

/* START APP PAGE CSS */

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
}

#app-logo {
    margin-top: 15px;
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    object-fit: contain;
    border-radius: 12px;
}

.app-icon {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left: 10px;
    overflow: hidden;
}

.app-icon img {
    display: block;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

#app-name {
    width: auto;
    margin-top: 2%;
    line-height: 1.2;
}

#app-name h1 {
    font-size: 60px;
}

#app-rating-stars {
    width: 250px !important;
    height: auto;
    top: 20px !important;
    left: 0px !important;
    position: relative !important;
    display: inline-block !important;
}

#download-button {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 200px;
}

#app-statistics {
    display: flex;
    flex-direction: column;
    width: 87%;
    justify-content: center;
    padding: 20px 20px;
    font-size: 20px;

}

#app-statistics * {
    margin-bottom: 15px;

}


.tag {
    background-color: grey;
    padding: 3px;
    border-style: solid;
    border-color: rgb(183, 188, 193);
    border-width: 2px;
    border-radius: 25px;
    margin: 5px;
}

.app-description-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.app-info-container {
    width: 90%;
    height: auto;
    background: #475562;
    border-radius: 10% 25%;
    line-height: 20px;
    padding: 15px;
}

.app-info-container pre {
    display: block;
    width: 100%;
    height: auto;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
}


.app-info-container h1 {
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.app-info-container p {
    font-size: 15px;
    margin-bottom: 10px;
}

#related-apps-container {
    margin-top: 15px;
    width: 100%;
    height: auto;
    border-bottom: none;
}

#related-apps-container h1 {
    margin-bottom: 10px;
}

#columns {
    display: flex;
    flex-direction: column;
}

/* END APP PAGE CSS */

/* PROFILE PAGE CSS */

#profile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#basic-info-container {
    width: 100%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#pic {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: 40%;
    height: 70%;
    display: inline-block;

    box-sizing: border-box;
    object-fit: contain;
    border-radius: 12px;
}

#info {
    width: 55%;
    height: auto;
    text-align: left;
    line-height: 15px;
    display: inline-block;
    padding-bottom: 20px;
}

#profile-star-center {
    margin-left: 30px;
    padding-top: 5px;
}

#options-container {
    width: 80%;
    padding-left: 10%;
}

.option {}

.profile-rating-container {
    position: relative;
}

.profile-rating-text {
    display: inline-block;
}

.profile-rating-stars {
    width: 100px !important;
    top: 0px !important;
    left: 0px !important;
    position: relative !important;
    display: inline-block !important;
}

#app-section-small {
    position: none;
}

.delete-button {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}

/* END PROFILE CSS */

/* START UPLOAD CSS */

#upload-form-container {
    position: relative;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    width: 90%;
    height: auto;
}

#upload-form {
    position: relative;
    display: block;
    width: 70%;
    margin: 5% 15%;
}

.input-box {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
}

#upload-form button {
    position: relative;
    margin-left: 35%;
}

/* STOP UPLOAD CSS */

/* START SETTINGS CSS */

#settings-container {
    position: relative;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    width: 90%;
    height: auto;
}

.settings {
    position: relative;
    display: block;
    width: 100%;
}

.set-form {
    position: relative;
    display: inline-block;
    width: 70%;
    margin: 5%;
}

#settings-container .settings button {
    position: relative;
    display: inline-block;
}

.input-box {
    width: 100%;
}

/* END SETTINGS CSS */
