/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
The real css
*/

body {
	background-color: #092856;	
}

header {
	display: block;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	width:80%;
	height: 150px;
	margin: 0;
	padding: 0;
	position: relative;
	/*background-color: black;*/
	background-image: url("../images/header-background.jpg");
	background-size:cover;
	margin:0 auto;
}

.logo {
	position: relative;
	top: 10px;
	left: 10px;
	top: -10px;
	height: 170px;
	width: 200px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-container{
	position: absolute;
	right: 30px;
	top: 30px;
	float:right;
	padding-top: 20px;

}
.search-container form input{
	border-radius: 50px;
}

.search-container form button{
	border-radius: 25px;
	}

.navigation {
	position: absolute;
	list-style:none;
	text-align: center;
	width: 100%;
	height: 40px;
	top: 110px;
}

.navigation ul li {
	float: left;
	width: 20%;
	text-align: center;
	list-style-type: none;
	color: #FFF;	
}

.navigation ul li a {
	text-decoration: none;
	display: block;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	color: white;
<<<<<<< HEAD
	background-color:rgba(200, 200, 200, 0.3);
=======
	background-color:rgba(75,37,232,0.5);

>>>>>>> 295c7d88dbf4253ffbcb3e03ba254daccf01b3bc
}

.navigation ul li a:hover {
	background-color: #092856;
	color: #FFF;
}

#main {
	display: block;
	width:80%;
	height: 700px;
	margin: 30px 10%;
	padding-top:30px 15%;
	background-color:rgba(75,37,232,0.3);
}

footer {
	display: block;
	width:80%;
	height: 50px;
	margin-bottom:10px;
	margin-left: 10%;
	background-color:rgba(75,37,232,0.3);
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-size-adjust: auto;
	font-size:10px;
	vertical-align: middle;
	text-align: center;
	
}

#footer-text {
	color: #FFF;
}

#login-window {
	display:block;
	width: 40%;
	height: 400px;
	background-color:rgba(75,37,232,0.3);
	position: absolute;
  	top: 30%;
	margin-left: 30%;
	border-radius: 30px;
}

body section form div {
	position: relative;
	top: 20px;
	left: 30%;
	display: inline-block;
	width: inherit;
	text-align: center;
}

body section form p{
	color:white;
	font-size: 30px;
}

.left-article {
	width:45%;
	margin-left:10px;
	float:left;
	margin-top:10%;
	margin-bottom: 10px;
}

.right-article {
	width:45%;
	float:right;
	margin-right:10px;
	margin-bottom: 10px;
	margin-top:10%;
}