/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
The real css
*/

body {
	background-color: #b3b4ab;	
}

header {
	display: block;
	width:100%;
	height: 150px;
	margin: 0;
	padding: 0;
	position: relative;
	/*background-color: black;
	background-image: url("../images/header-background.jpg"); */
	background-color: #2c3e50;
	background-size:cover;
	margin:0 auto;
}

.logo {
	position: relative;
	top: 10px;
	left: 10px;
	top: -10px;
	height: 170px;
	width: 200px;
	
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-container{
	position: absolute;
	right: 30px;
	top: 30px;
	float:right;
	padding-top: 20px;

}
.search-container form input{
	border-radius: 50px;
}

.search-container form button{
	border-radius: 25px;
	}

.navigation {
	position: absolute;
	list-style:none;
	text-align: center;
	width: 100%;
	height: 40px;
	top: 110px;
	text-shadow: #000 1px 0px 3px;
  	color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation ul li {
	float: left;
	width: 20%;
	text-align: center;
	list-style-type: none;
	color: #FFF;	
}

.navigation ul li a {
	text-decoration: none;
	display: block;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	color: #FFF;
	/*background-color:rgba(75,37,232,0.5); */
	background: rgba(208,170,171,0.3);

}

.navigation ul li a:hover {
	/*background-color: #092856; */
	background-color: #2c3e50;
	color: #FFF;
}

#main {
	position: relative;
	display: block;
	width:80%;
	height: 700px;
	margin: 3% 10%;
	background-color: #2c3e50;
	border-radius: 12px;
	/*background-color:rgba(75,37,232,0.3);*/
}

footer {
	display: block;
	width:100%;
	height: 70px;
	margin-bottom:0px;
	background-color: #2c3e50;
	/*background-color:rgba(75,37,232,0.3); */
	font-family: Arial;
	font-size-adjust: auto;
	font-size:20px;
	vertical-align: middle;
	text-align: center;
}

#footer-text {
	color: #FFF;
}

#login-window {
	display:block;
	width: 40%;
	height: 400px;
	background-color:rgba(75,37,232,0.3);
	position: absolute;
  	top: 30%;
	margin-left: 30%;
	border-radius: 30px;
}

body section form div {
	position: relative;
	top: 20px;
	left: 30%;
	display: inline-block;
	width: inherit;
	text-align: center;
}

body section form p{
	color:white;
	font-size: 30px;
}

.left-article {
	width:45%;
	margin-left:3%;
	float:left;
	margin-top:10%;
	margin-bottom: 10px;
	font-size: auto;
}

.right-article {
	width:45%;
	float:right;
	margin-right: 3%;
	margin-bottom: 10px;
	margin-top:10%;
}

/* APP LIST CSS */


.app-list{
    width:100%;
    
    -webkit-column-gap: 5px;
	column-gap: 5px;
	-moz-column-gap: 5px;
}

@media screen and (min-width: 800px) {
.app-list{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    }

}

@media screen and (min-width: 500px) and (max-width: 799px){
.app-list{
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    }

}

@media screen and (max-width: 499) {
.app-list{
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    }

}

#app-list-container {
	position:relative;
	top:20px;
	right:10px;
	left:10px;
	bottom:20px;
}

.app-list-child {
  border-radius: 12px;
  border-width: thin;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 94%;
  height: 100px;
  /*background-color:rgba(0,0,0,0.3); */
  background-color: rgba(208,170,171,0.3);
  list-style-type: none;
  overflow:hidden;
  margin-bottom:5px;
}

.app-list-child a {
color:black;
}

.app-list-child-img-container{
	position:absolute;
    border-width: 10px;
    width: 80px;
    height:80px;
    top:10px;
    left:10px;
}
.app-list-child-img-container img{
	border-radius: 12px;
	width:100%;
    height:100%;
}
 
.app-list-child-title {
text-shadow: #000 0px 0px 6px;

    color: white;
  font-size: 23px;
  text-align:left;
  margin:0;
  width:60%;
  height:30px;
  position:absolute;
  top:10px;
  left:100px;
}

.app-list-child-rating{
  text-align:left;
  margin:0;
  width:60%;
  height:20px;
  position:absolute;
  top:38px;
  left:100px;
  right:10px;
}

.rating-checked {
    color: orange;
}

.app-list-child-downloads{
  text-align:left;
  margin:0;
  width:60%;
  height:20px;
  position:absolute;
  top:65px;
  left:100px;
  right:10px;
  text-shadow: #000 0px 0px 2px;
  color:white;
}

/* END APP LIST CSS */

/* PROFILE PAGE CSS */

#basic-info-container {
	width:50%;
	height: 300px;
	background-color: rgba(255,255,255,0.4);
  	border-radius: 10% 25%;
	float:left;
	top:65px;
	position: relative;
	margin-left: 7%;
}

#pic {
	position:relative;
	float:left;
	margin-left: 10%;
	margin-top: 5%;
	width:40%;
	outline: thin double #32a1ce;
}

#info {
	float:right;
	position: relative;
	width:50%;
	margin-top:12%;
	left:10px;
	text-align: left;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.small-icon {
	width: 20px;
	height: 20px;
	position: relative;
}

#options-container {
	position: absolute;
	
	right:0px;
	top:0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	list-style:none;
	text-align: center;
}

.option {
	background-color: rgba(75,37,232,0.5);
	padding:10px 40px;
	margin-bottom:10px;
	border-radius: 5px 15px;
		
}
.option a{
	text-decoration: none;
	color: #FFF;
}

.option a:hover {
	color: darkred;
	font-size: 20px;
}


/* START LOGIN/REGISTER CSS */

.connection-container{
	font-family: Arial, Helvetica, sans-serif;
    position: relative;
	background-color: rgba(0,0,0,0.5);
    border-radius: 12px;
    width:100%;
    heigth:100%;
    color: white;
}

.login-container {
	text-shadow: #000 0px 0px 6px;
	position: absolute;
    
    width: 200px;
    height: 240px;
    right:53%;
    top: 45px;
}

.login-container button{
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 20%;
}

.login-container button:hover{
	background-color: grey;
}

.login-container input{
    width: 100%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.separator {
	position: absolute;
    top:20px;
    left:50%;
    border-left: 3px solid white;
    border-radius: 100px;
    height: 400px;
}

.register-container {
	text-shadow: #000 0px 0px 6px;
	position: absolute;
    left:53%;
    width: 200px;
    height: 330px;
}

.register-container input{
    width: 100%;
    padding: 12px 20px;
   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container button{
	position:absolute;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left: 20%;
}

.register-container button:hover{
	background-color: grey;
}

/* STOP LOGIN/REGISTER CSS */
