html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
The real css
*/

body {
	background-color: #b3b4ab;	
}

/* BEGIN HEADER CSS */

header {
	background-color: #2c3e50;
}

.search-container form input{
	background-color: #34495e;
	color: #909aa4;
    border: 1px solid #b3b4ab;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-container form button{
    background-color : transparent;
	color: #909aa4;
	border: 0px solid #b3b4ab;
	border-left-width: 0px;
	border-bottom-width: 0px;
    border-radius: 4px;
	box-sizing: border-box;
	z-index: 1;
}

.navigation {
	list-style:none;
	text-align: center;
	text-shadow: #000 1px 0px 3px;
  	color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation ul li {
	text-align: center;
	list-style-type: none;
	color: #FFF;
	border-bottom:2px;
	border-bottom-color: #2e465d;
	border-bottom-style: solid;	
}

.navigation ul li a {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	color: #FFF;
	background: #475562;

}

.navigation ul li a:hover {
	background-color: #2c3e50;
	color: #FFF;
}

/* END HEADER CSS 
   BEGIN MAIN-INDEX CSS*/

#description {
	background: #2c3e50;
	border-radius: 12px;
	border-style: solid;
	border-color: #2e465d;
	border-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: White;
	text-align: center;
}

.main, aside, .main-full {
	background-color: #2c3e50;
	border-radius: 12px;
	border-style: solid;
	border-color: #2e465d;
	border-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
}


/* END MAIN-INDEX CSS
   BEGIN FOOTER CSS*/

footer {
	font-family: Arial;
	color: #FFF;
	background-color: #2c3e50;
    text-align: center;
}


footer ul li a{
	text-decoration: none;
    color: #FFF;
}

/* END FOOTER CSS 
   BEGIN APP LIST CSS */

.app-section{
	text-align: left;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #b3b4ab;
}

.see-more-button {
	font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #252e38;
	text-align: center;
    text-decoration: none;
    cursor: pointer;
	border-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
}

.see-more-button:hover{
	background-color: grey;
}

#app-list-container {
	position:relative;
	top:20px;
	right:10px;
	left:10px;
	bottom:20px;
}

.app-section h1{
    text-shadow: #000 1px 0px 3px;
}

.app-list-child {
  border-radius: 12px;
  border-width: thin;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #252e38;
  list-style-type: none;
}

.app-list-child:hover{
	background-color: #475562;
}

.app-list-child a {
color:black;
}

.app-list-child-img-container{
    border-width: 10px;
}

.app-list-child-img-container img{
	border-radius: 12px;
}
 
.app-list-child-title {
    text-shadow: #000 0px 0px 6px;    
    color: white;
    text-align:left;
}

.app-list-child-rating{
  text-align:left;
}

.rating-checked {
    color: orange;
}

.app-list-child-downloads{
  text-align:left;
  text-shadow: #000 0px 0px 2px;
  color:white;
}

/* END APP LIST CSS 
   BEGIN PROFILE PAGE CSS */

#basic-info-container {
	background: #475562;
  	border-radius: 10% 25%;
}

#pic {
	outline: thin double #32a1ce;
}

#info {
	font-family: Arial, Helvetica, sans-serif;
}

#options-container {
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	text-align: center;
}

.option {
	background: #475562;
	border-radius: 5px 15px;
		
}
.option a{
	text-decoration: none;
	color: #FFF;
}

.option a:hover {
	color: darkred;
}

/* END PROFILE CSS 
   BEGIN LOGIN/REGISTER CSS */

#login-window {
	border-radius: 12px;
	background-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
}

.connection-container{
	font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.login-container {
	text-shadow: #000 0px 0px 6px;
}

.login-container button, #upload-form button, #settings-container .settings button{
    border: none;
    color: white;
    background-color: #252e38;
	text-align: center;
    text-decoration: none;
    cursor: pointer;
	border-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
}

.login-container button:hover{
	background-color: grey;
}

.login-container input{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container {
	text-shadow: #000 0px 0px 6px;
}

.register-container input{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container button{
	
    background-color: #252e38;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
	cursor: pointer;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
}

.separator {
    border-style: solid;
    border-color: white;
}
.register-container button:hover{
	background-color: grey;
}

/* END LOGIN/REGISTER CSS */

/* START ALL-APPS CSS */

.all-app-child{
    background-color: #475562;
    text-shadow: #000 0px 0px 0px;
}

.all-app-icon{
    margin-top: 7px;
        border-style: solid;
    border-width: 1px;
    border-color: #b3b4ab;
    border-radius: 12px;
}

.all-app-title{
    margin-top: 10px;
    font-size: 1.1em;
}

.all-app-child:hover{
    background-color: #7f8a95;
}

.all-app-button{
    color: white;
    background-color: #252e38;
	text-align: center;
    text-decoration: none;
    cursor: pointer;
	border-color: #2c3e50;
	border-color:#4d515e;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
}

.all-app-child a{
    text-decoration: none;
    color: white;
}

/* END ALL-APPS CSS */
